/* Удалить */

.y-map {
	display: block;
	width: 100%;
}

/* Удалить, конец */

/* Общие стили */

@font-face {
  font-family: 'FontInter';
  src: url('inter/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontInterSemiBold';
  src: url('inter/Inter-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontInterBold';
  src: url('inter/Inter-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontInterExtraBold';
  src: url('inter/Inter-ExtraBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontInterLight';
  src: url('inter/Inter-Light.ttf');
  font-weight: normal;
  font-style: normal;
}


* {
	margin: 0;
	padding: 0;
	font-family: 'FontInter';
	box-sizing: border-box;
	color: #333
}

body {
	--red-linear-gradient: linear-gradient(45deg, rgba(255,74,43,1) 0%, rgba(255,68,87,1) 45%, rgba(255,68,87,1) 60%, rgba(255,74,43,1) 100%);
	--main-shadow: 0 3px 8px 0 rgb(34 60 80 / 20%);
}

.wrapper {
	max-width: 1240px;
	margin: 20px auto;
}

.section-title {
	padding-left: 40px;
	font-family: 'FontInterBold';
	color: rgb(51,51,51);
	font-size: 22px;
	line-height: 24px;
}


.section-title-sub {
	font-family: 'FontInterBold';
	color: rgb(51,51,51);
	font-size: 22px;
	line-height: 24px;
}

.block-subtitle {
	padding-left: 40px;
	font-size: 22px;
	line-height: 30px;
	font-family: 'FontInterBold';
	padding-bottom: 10px
}

.subtitle-bold {
	font-family: 'FontInterBold';
	padding: 10px 0
}

.block-span {
	font-size: 16px;
	line-height: 26px;
}

.bold-span {
	font-family: 'FontInterBold';
}

.aside-block-title {
	color: rgb(50,50,50);
	font-size: 20px;
	line-height: 26px;
	padding-bottom: 15px;
	padding-right: 90px;
}

.info-text {
	font-size: 15px;
	line-height: 24px;
	padding-bottom: 5px;
}

/* Стилизация чекбокса */

input[type="checkbox"].stylized:checked, 
input[type="checkbox"].stylized:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"].stylized:checked + label, 
input[type="checkbox"].stylized:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 32px;
    line-height: 20px;
    cursor: pointer;
	user-select: none;
	color: rgb(51,51,51)
}

input[type="checkbox"].stylized:checked + label:before, 
input[type="checkbox"].stylized:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 2px solid rgb(254,45,50);
    background-color: #ffffff;
    border-radius: 5px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
	left: 4px;
    top: 5px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #e145a3;
    border-bottom: 4px solid #e145a3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"].stylized:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"].stylized:checked + label:after {
    opacity: 1;
}

/* Стилизация чекбокса, конец */


/* Стилизация чекбокса в форме подписки */

.subscribe-agree {
	padding: 15px 0 0 0
}

input[type="checkbox"].stylized:checked, 
input[type="checkbox"].stylized:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"].stylized:checked + label, 
input[type="checkbox"].stylized:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
	font-size: 12px;
    line-height: 20px;
    cursor: pointer;
	user-select: none;
	color: rgb(51,51,51)
}

input[type="checkbox"].stylized:checked + label:before, 
input[type="checkbox"].stylized:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 2px solid #057DDE;
    background-color: #ffffff;
    border-radius: 5px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 8px;
    height: 5px;
    border-radius: 1px;
    border-left: 3px solid #057DDE;
    border-bottom: 3px solid #057DDE;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"].stylized:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"].stylized:checked + label:after {
    opacity: 1;
}

/* Стилизация чекбокса в форме подписки, конец */


/* Общие стили, конец */

/* Header */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-link {
	color: rgb(5, 117, 229);
	font-size: 16px;
}

.nav-list {
	display: flex;
	list-style-type: none;
}

.nav-item {
	padding: 0 10px;
}

.top-phone {
	color: rgb(51,51,51);
	font-size: 16px;
	text-decoration: none;
}

.phones {
	display: flex;
}

.top-phone-w {
	text-align: right;
	margin-right: 30px;
}

.top-phone-w:last-child {
	margin-right: 0;
}

.top-phone-info {
	font-size: 12px;
}

/*@media only screen and (max-width: 1280px) {*/

	.close-nav-w {
		position: relative;
	}

	.close-nav {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		margin-right: 0;
		margin-left: auto;
		cursor: pointer;
		background-image: url('close_nav.svg');
		background-size: cover;
		background-repeat: repeat;
		z-index: 5;
	}

	.close-nav:after {
		display: block;
		content: 'МЕНЮ';
		position: absolute;
		bottom: -10px;
		left: 0;
		right: 0;
		text-align: center;
		color: #000;
		font-size: 11px;
		font-family: 'FontInterSemiBold';

	}

	.mobile-nav {
		width: 325px;
		min-height: 200px;
		position: absolute;
		top: -5px;
		right: -5px;
		border-radius: 10px;
		background: #fff;
		padding: 65px 10px 25px 30px;
		z-index: 4;
	}

	.moblie-nav__list {
		position: relative;
		list-style-type: none;
		margin-bottom: 70px;
	}

	.moblie-nav__list:after {
		position: absolute;
		bottom: -40px;
		left: 0;
		width: 100px;
		height: 2px;
		content: '';
		background-color: #FF4A2B;
	}

	.moblie-nav__sublist {
		list-style-type: none;
		padding-left: 30px;
		margin-top: 20px
	}

	.moblie-nav__item {
		position: relative;
		margin-bottom: 20px
	}

	.moblie-nav__item:last-child {
		margin-bottom: 0
	}

	.moblie-nav__item.submenu:after {
		content: '';
		width: 20px;
		height: 25px;
		background-image: url('nav-down.svg');
		background-repeat: no-repeat;
		background-size: 15px;
		background-position: center;
		position: absolute;
		right: 0;
		top: 0;
		transition: transform .3s;
		z-index: -1;
	} 

	.moblie-nav__item.submenu.opened:after {
		transform: rotate(180deg);
		transition: transform .3s;
	}

	.moblie-subnav__item {
		position: relative;
		margin-bottom: 20px
	}

	.moblie-nav__link {
		display: block;
		font-size: 20px;
		line-height: 24px;
		color: #0575E5;
		font-family: 'FontInterLight';
		transition: .2s color;
	}

	.moblie-nav__link:hover {
		color: #FF4A2B;
		transition: .2s color;
	}

	.moblie-subnav__item:after {
		position: absolute;
		left: -15px;
		top: 10px;
		content: '';
		width: 5px;
		height: 5px;
		background-color: #0575E5;
		border-radius: 50%;
	}

	.moblie-social-info {
		font-size: 16px;
		line-height: 24px;
		font-family: 'FontInterSemiBold';
		margin-bottom: 10px;
	}

	.moblie-social-link {
		display: block;
		padding-left: 36px;
		text-decoration: underline;
		background-repeat: no-repeat;
		background-size: 23px;
		background-position: left top;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 23px;
	}

	.moblie-social-tg {
		background-image: url(telegram.svg);
	}

	.moblie-social-vk {
		background-image: url(vk.svg);
		line-height: 20px;
	}

/*}*/

/* Header, конец */


/* Заголовок главной */

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.main-h1 {
	width: 100%;
	padding: 100px 0;
	display: inline-block;
	font-family: FontInterExtraBold;
	font-size: 70px;
	color: transparent;
    background: var(--red-linear-gradient);
    animation: gradient 3s infinite linear;
    background-size: 400%;
    -webkit-background-clip: text;
	text-align: center;
}

/* Заголовок главной, конец */


/* Общий заголовок, не главной страницы */

.secondary-h1 {
	width: 100%;
	padding: 50px 0;
	display: inline-block;
	font-family: FontInterBold;
	font-size: 52px;
	line-height: 60px;
	color:#333;
	text-align: center;
}

/* Общий заголовок, не главной страницы, конец */


/* Форма подбора */


.form-titles {
	display: flex;
	padding-bottom: 18px;
}

.form-titles__item {
	color: rgb(51, 51, 51);
	font-family: 'FontInter';
	font-size: 22px;
	line-height: 22px;
	text-decoration: none;
	margin-right: 30px;
}

.form-titles__item:last-child {
	margin-right: 0;
}

.form-titles__item.active {
	font-family: 'FontInterBold';
}

/* Форма подбора направления */

.direction-form-w {
	position: relative;
	max-width: 1240px;
	width: 100%;
	height: 88px;
  background: var(--red-linear-gradient);
  border-radius: 10px;
  overflow: hidden;
}

.direction-form__inside {
	display: flex;
	position: absolute;
	top: 3px;
	bottom: 3px;
	right: 3px;
	left: 3px;
	margin: auto;
	border-radius: 8px;
	width: calc(100% - 6px);
	height: 82px;
	background: #fff;
	padding: 15px;
}

.direction-ways {
	display: flex;
	padding-top: 20px;
}

.direction-way {
	color: rgb(35,135,233);
	padding-right: 20px;
	text-decoration: underline;
	font-size: 16px;
	line-height: 16px;
}

.direction-way:hover {
	color: transparent;
	background-image: var(--red-linear-gradient);
	background-size: 100%;
	-webkit-background-clip: text;
	text-decoration: underline;
}

.dont-know-way {
	text-align: right;
	flex: 1 1 auto;
	color: rgb(146,146,146);
}

.direction-form-block {
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}

.direction-form-way {
	position: relative;
	flex: 1 1 auto;
	justify-content: flex-start;
}

.form-way-input {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	display: block;
	outline: 0!important;
	border: 0!important;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
}

.direction-form-way .form-way-input {
	text-align: left;
	text-indent: 10px;
}

.form-way-input::-webkit-input-placeholder {color: rgb(103,103,103);}
.form-way-input::-moz-placeholder          {color: rgb(103,103,103);}
.form-way-input:-moz-placeholder           {color: rgb(103,103,103);}
.form-way-input:-ms-input-placeholder      {color: rgb(103,103,103);}

.direction-form-in {
	width: 120px;
}

.direction-form-in:before {
	position: absolute;
	left: 0;
	content: '';
	width: 2px;
	height: 100%;
	background: var(--red-linear-gradient);
	z-index: 2;
}

.direction-form-in:after {
	position: absolute;
	right: 0;
	content: '';
	width: 2px;
	height: 100%;
	background: var(--red-linear-gradient);
	z-index: 2;
}

.direction-form-out {
	width: 122px;
}

.direction-form-out:after {
	position: absolute;
	right: 0;
	content: '';
	width: 2px;
	height: 100%;
	background: var(--red-linear-gradient);
	z-index: 2;
}

.direction-form-people {
	width: 170px;
}

.direction-form-people:after {
	position: absolute;
	right: 0;
	content: '';
	width: 2px;
	height: 100%;
	background: var(--red-linear-gradient);
	z-index: 2;
}

.direction-form-submit {
	width: 258px;
	justify-content: safe flex-end;
}

.direction-form-btn {
	width: 230px;
	height: 62px;
	border: 0!important;
	outline: 0 !important;
	color: #fff;
	font-size: 20px;
	font-family: 'FontInterExtraBold';
	background: var(--red-linear-gradient);
	border-radius: 10px;
	cursor: pointer;
}

/* Форма подбора направления, конец */

/* Форма подбора, конец */



/* Горячие предложения */

.hot-deals {
	padding-top: 100px;
}

.hot-deals-section {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
}

.hot-deal-item {
	display: flex;
	align-items: center;
	width: calc(25% - 15px);
	margin-right: 20px;
	margin-bottom: 20px;
	height: 120px;
	padding: 0 12px;
	border-radius: 10px;
	-webkit-box-shadow: var(--main-shadow);
	-moz-box-shadow: var(--main-shadow);
	box-shadow: var(--main-shadow);
	cursor: pointer;
}

.hot-deal-item:nth-child(4n) {
	margin-right: 0;
}

.hot-deal-pic {
	width: 105px;
	height: 95px;
	border-radius: 10px;
	background: #ccc;
	background-size: cover;
	background-repeat: no-repeat;
}

.hot-deal-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 95px;
	padding-left: 12px;
}

.hot-deal-title {
	font-size: 14px;
	font-family: 'FontInterBold';
}

.hot-deal-text {
	font-size: 12px;
}

.hot-deal-rating {
	padding: 3px 0;
}

.hot-deal-price {
	height: 24px;
	font-size: 12px;
	line-height: 24px;
}

.hot-deal-number {
	color: rgb(254,75,43);
	font-size: 16px;
	line-height: 24px;
	font-family: 'FontInterBold';
}

.hot-deal-rating {
	display: flex;
}

.hot-deal-star {
	display: block;
	width: 9px;
	margin-right: 3px;
}

/* Горячие предложения, конец */


/* Популярные предложения */

.popular-sections {
	display: flex;
	justify-content: space-between;
}

.popular-hotels {
	width: calc(50% - 10px);
}

.popular-ways {
	width: calc(50% - 10px);
}

.popular-item__name {
	padding-right: 10px;
	color: rgb(36,134,233);
	font-size: 16px;
	line-height: 24px;
	text-decoration: underline;
	background-color: #fff;
	transition: .2s color;
}

.popular-item:hover .popular-item__name {
	transition: .2s color;
	color: rgb(255,74,43);
}

.popular-item__price {
	padding-left: 10px;
	color: rgb(130,130,130);
	font-size: 16px;
	line-height: 24px;
	background-color: #fff;
}

.popular-item:hover .popular-item__price {
	transition: .2s color;
	color: rgb(255,74,43);
}

.popular-items {
	padding: 15px 0;
}

.popular-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.popular-item:last-child {
	margin-bottom: 0
}

.popular-item:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-image: url('grey-dotted.jpg');
	background-position: 0 70%;
	background-repeat: repeat-x;
	z-index: -1;
	transition: .2s background-image;
}

.popular-item:hover:after {
	transition: .2s background-image;
	background-image: url('red-dotted.jpg');
}

/* Популярные предложения, конец */


/* Акции и спецпредложения */

.special-offers {
	padding-top: 100px;
}

.sales-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.sales-item__pic {
	display: block;
	background: #ccc;
	width: 175px;
	height: 175px;
	border-radius: 10px;
	background-size: cover;
	background-repeat: no-repeat;
}

.sales-item__content {
	width: calc(100% - 190px);
}

.sales-item__title {
	font-size: 18px;
	line-height: 24px;
	font-family: 'FontInterBold';
	margin-bottom: 5px;
}

.sales-item__text {
	font-size: 16px;
	line-height: 20px;
	font-family: 'FontInterLight';
}

/* Акции и спецпредложения, конец */


/* Подписка на рассылку */

.subscribe-section {
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
	padding: 30px 35px;
	border-radius: 10px;
	-webkit-box-shadow: var(--main-shadow);
	-moz-box-shadow: var(--main-shadow);
	box-shadow: var(--main-shadow);
}

.subscribe-form-w {
	width: calc(50% - 10px);
}

.subscribe-social {
	width: calc(50% - 10px);
}

.subscribe-form {
	width: 100%;
	height: 60px;
	position: relative;
	margin-top: 30px;
	background: rgb(49,140,216);
	border-radius: 10px;
}

.subscribe-form-inside {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 4px);
	height: 56px;
	padding: 4px 4px 4px 15px;
	background: #fff;
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
	margin: auto;
	border-radius: 8px;
}

.get-subscribe {
	display: block;
	width: calc(100% - 200px);

	border: 0!important;
	outline: 0!important;
	background: #fff;
	color: rgb(103,103,103);
	font-size: 16px;
	line-height: 20px;
}

.get-suscribe-btn {
	width: 180px;
	height: 100%;
	display: flex;
	align-items: center;
}

.get-suscribe__submit {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 0!important;
	outline: 0!important;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	font-family: 'FontInterBold';
	cursor: pointer;
	background: rgb(2,196,144);
}

.get-subscribe::-webkit-input-placeholder {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-subscribe::-moz-placeholder          {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-subscribe:-moz-placeholder           {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-subscribe:-ms-input-placeholder      {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}

.subscribe-social-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
}

.social-tg-rus {
	display: block;
	width: calc(45% - 5px);
	height: 32px;
	margin-bottom: 22px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	color: rgb(67,151,237);
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('telegram.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

.social-tg-pdmsk {
	display: block;
	width: calc(55% - 5px);
	height: 32px;
	margin-bottom: 22px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	color: rgb(67,151,237);
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('telegram.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

.social-vk {
	display: block;
	width: 100%;
	height: 32px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	color: rgb(67,151,237);
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('vk.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

/* Подписка на рассылку, конец */


/* О компании */

.about-section {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.about-company {
	width: calc(50% - 10px);
}

.working-for-you {
	width: calc(50% - 10px);
}

.about-company__info {
	padding: 20px 0;
	font-size: 16px;
	line-height: 24px;
	font-family: 'FontInterLight';
}

.about-company__working {
	padding: 20px 0;
}

.about-company__subtitle {
	font-family: 'FontInterSemiBold';
	color: rgb(51,51,51);
	font-size: 16px;
	line-height: 24px;
}

.about-company__item {
	margin-bottom: 15px;
}

.about-company__item span {
	font-size: 16px;
	line-height: 24px;
	font-family: 'FontInterLight';
}

.about-company__link {
		color: rgb(5, 117, 229);
    font-size: 16px;
}

/* О компании, конец */


/* Отзывы о нас */

.our-reviews {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 100px auto;
}

.our-reviews .section-title {
	display: inline-block;
}

.reviews-slider {
	width: 100%;
	height: 100px;
	margin-top: 50px;
	background: #ccc;
}

/* Отзывы о нас, конец */


/* Footer */

.footer {
	position: relative;
	display: flex;
	padding: 55px 0 20px 0;
	margin-top: 75px;
}

.footer:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	content: '';
	display: block;
	height: 7px;
	background: rgb(242,242,242);
	border-radius: 8px;
}

.footer-title {
	font-family: 'FontInterSemiBold';
	color: rgb(51,51,51);
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}

.footer-col-title {
	font-family: 'FontInterSemiBold';
	color: rgb(51,51,51);
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}

.footer-title-small {
	font-family: 'FontInterSemiBold';
	color: rgb(51,51,51);
	font-size: 15px;
	line-height: 24px;
}

.footer-col-1 {
	width: 32.2%;
	padding-right: 10px;
}

.footer-col-2 {
	width: 21.7%;
	padding-right: 10px;
}

.footer-col-3 {
	width: 29.8%;
	padding-right: 10px;
}

.footer-col-4 {
	width: 16.3%;
}

.footer-phones__item {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 16px;
}

.footer-phones__item:last-child {
	margin-bottom: 0
}

.footer-phones {
	margin-bottom: 20px;
}

.footer-phone {
	font-size: 16px;
	line-height: 16px;
	color: rgb(51,51,51)!important;
	text-decoration: none;
}

.footer-phone-info {
	font-style: italic;
	font-size: 12px;
	color: rgb(51,51,51);
	font-family: 'FontInterLight';
}

.footer-title-p {
	font-size: 15px;
	line-height: 20px;
	font-family: 'FontInterLight';
}

.working-time {
	margin-bottom: 20px
}

.footer-places {

}

.footer-place-item {
	display: block;
	color:rgb(0, 0, 0);
	font-size: 15px;
	line-height: 15px;
	text-decoration: underline;
	margin-bottom: 15px;
}

.footer-social-item {
	display: flex;
	align-items: flex-start;
	height: 25px;
	margin-bottom: 10px;
	padding-left: 35px;
	font-size: 15px;
	line-height: 20px;
	text-decoration: underline;
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 25px;
	color: rgb(51,51,51);

}

/* Footer, конец */


/* Footer copyright */

.footer-copyright {
	text-align: center;
}

/* Footer copyright, конец */


/* Карта - карусель контактов */

.map-slider-items {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
}

.map-slider-item {
	display: inline-flex;
	align-items: center;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: normal;	
}

.map-slider-link {
	color: #848484;
	font-size: 20px;
	line-height: 20px;
	text-decoration: none;
}

.map-slider-link.active {
	color:#FE4B2B;
	font-size: 28px;
	line-height: 28px;
}

.map-slider-nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px 0;
}

.our-offices-info {
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	color:#8D928E;
	src: url('inter/Inter-Light.ttf');
}

.our-offices-left {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin:auto;
	width: 125px;
	height: 20px;
	background-image: url('long-arrow-left.svg');
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center left;
	cursor: pointer;
}

.our-offices-right {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto;
	width: 125px;
	height: 20px;
	background-image: url('long-arrow-right.svg');
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center right;
	cursor: pointer;
}

/* Карта - карусель контактов, конец */


/* Блок карты */

.map-section {
	display: flex;
	padding: 50px 0;
}

.map-info {
	width: 400px;
	padding-right: 10px;
}

.map-block {
	width: calc(100% - 400px);
}

.contact-info-block {
	margin-bottom:20px;
}

.contacts-phone {
    color: rgb(51,51,51);
    font-size: 18px;
    text-decoration: none;
}

.contacts-phone-info {
	font-size: 12px;
	font-family: 'FontInterLight';
	font-style: italic;
}

.metro-block {
	display: flex;
}

.metro-item {
	display: inline-block;
	padding-left: 25px;
	padding-right: 10px;
	font-size: 16px;
	line-height: 36px;
}

/* Блок карты, конец */


/* Баннер по вакансиям */

.vacancy-banner {
	display: flex;
	justify-content: space-between;
    padding: 25px 30px;
	border-radius: 10px;
	background: rgb(255,75,43);
	background: linear-gradient(45deg, rgba(255,75,43,1) 0%, rgba(255,75,43,1) 39%, rgba(255,65,108,1) 75%, rgba(255,65,108,1) 100%);
	cursor: pointer;
}

.vacancy-title {
	font-size: 30px;
	line-height: 40px;
	color: #fff;
	font-family: 'FontInter';
	padding-bottom: 10px
}

.vacancy-subtitle {
	font-size: 20px;
	line-height: 30px;
	color: #fff
}

.vacancy-banner__p {
	border-radius: 5px;
	background-color: #fff;
	color: #0575E6;
	font-size: 20px;
	line-height: 20px;
	padding: 10px 15px;
	font-family: "FontInter";
	text-align: center;
	margin-bottom: -5px;
}

.vacancy-banner__btn {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.vacancy-banner__info {
	width: calc(100% - 550px);
}

.vacancy-banner__btn {
	width: 540px;
}

/* Баннер по вакансиям, конец */


/* Формы в контактах */

.contacts-form {
	display: flex;
	justify-content: space-between;
	padding: 50px 0 100px 0
}

/* Форма */

.contacts-callback {
	width: calc(50% - 10px);
	padding: 30px 12px;
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
	border-radius: 10px;
}

.contacts-callback__title {
	padding-bottom: 20px;
    font-family: 'FontInterBold';
    color: rgb(51,51,51);
    font-size: 22px;
    line-height: 24px;
}

.contacts-form-w {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contacts-form__input {
	display: block;
	width: calc(50% - 10px);
	padding-left: 15px;
	height: 60px;
	margin-bottom: 25px;
	border-radius: 10px;
	border: 2px solid #FF1F01!important;
	outline: 0!important;
}

.contacts-form__textarea {
	display: block;
	width: 100%;
	height: 110px;
	border-radius: 10px;
	border: 2px solid #FF1F01!important;
	outline: 0!important;
	padding: 15px;
	margin-bottom: 25px;
}

.contacts-form__input::-webkit-input-placeholder {color: rgb(122,122,122); font-size: 16px;line-height: 16px;}
.contacts-form__input::-moz-placeholder          {color: rgb(122,122,122); font-size: 16px;line-height: 16px;}
.contacts-form__input:-moz-placeholder           {color: rgb(122,122,122); font-size: 16px;line-height: 16px;}
.contacts-form__input:-ms-input-placeholder      {color: rgb(122,122,122); font-size: 16px;line-height: 16px;}

.contacts-form__textarea::-webkit-input-placeholder {color: rgb(122,122,122); font-size: 16px;line-height: 16px;}
.contacts-form__textarea::-moz-placeholder          {color: rgb(122,122,122); font-size: 16px;line-height: 16px;}
.contacts-form__textarea:-moz-placeholder           {color: rgb(122,122,122); font-size: 16px;line-height: 16px;}
.contacts-form__textarea:-ms-input-placeholder      {color: rgb(122,122,122); font-size: 16px;line-height: 16px;}

.contacts-btn-area {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contacts-agree {
	width: calc(100% - 170px);
}


.contacts-send-btn {
	display: block;
	width: 170px;
	height: 50px;
	background: rgb(255,75,43);
	background: linear-gradient(45deg, rgba(255,75,43,1) 0%, rgba(255,75,43,1) 39%, rgba(255,65,108,1) 75%, rgba(255,65,108,1) 100%);
	border-radius: 5px;
	color: #fff;
	font-family: 'FontInterBold';
	border: 0!important;
	outline: 0!important;
	font-size: 18px;
	line-height: 100%;
	cursor: pointer;
}

/* Форма, конец */


/* Подписка в контактах */

.contacts-subscribe {
	width: calc(50% - 10px);
	padding: 30px 12px;
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
	border-radius: 10px;
}

.contacts-subscribe-section {
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
	padding: 30px 35px;
	border-radius: 10px;
	-webkit-box-shadow: var(--main-shadow);
	-moz-box-shadow: var(--main-shadow);
	box-shadow: var(--main-shadow);
}

.contacts-subscribe-form-w {
	width: calc(50% - 10px);
}

.contacts-subscribe-social {
	width: calc(50% - 10px);
}

.contacts-subscribe-form {
	width: 100%;
	height: 60px;
	position: relative;
	background: rgb(49,140,216);
	border-radius: 10px;
}

.contacts-subscribe-form-inside {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 4px);
	height: 56px;
	padding: 4px 4px 4px 15px;
	background: #fff;
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
	margin: auto;
	border-radius: 8px;
}

.get-contacts-subscribe {
	display: block;
	width: calc(100% - 200px);

	border: 0!important;
	outline: 0!important;
	background: #fff;
	color: rgb(103,103,103);
	font-size: 16px;
	line-height: 20px;
}

.get-contacts-suscribe-btn {
	width: 180px;
	height: 100%;
	display: flex;
	align-items: center;
}

.get-contacts-suscribe__submit {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 0!important;
	outline: 0!important;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	font-family: 'FontInterBold';
	cursor: pointer;
	background: rgb(2,196,144);
}

.get-contacts-subscribe::-webkit-input-placeholder {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-contacts-subscribe::-moz-placeholder          {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-contacts-subscribe:-moz-placeholder           {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-contacts-subscribe:-ms-input-placeholder      {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}

.contacts-subscribe-social-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
}

.contacts-s-w {
	padding-bottom: 30px
}

.contacts-social-tg-rus {
	display: block;
	width: 100%;
	height: 32px;
	margin-bottom: 22px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	color: rgb(67,151,237);
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('telegram.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

.contacts-social-tg-pdmsk {
	display: block;
	width: 100%;
	height: 32px;
	margin-bottom: 22px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	color: rgb(67,151,237);
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('telegram.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

.contacts-social-vk {
	display: block;
	width: 100%;
	height: 32px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	color: rgb(67,151,237);
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('vk.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

.contacts-copyright {
	font-size: 12px;
	line-height: 24px;
}

/* Подписка в контактах, конец */

/* Формы в контактах, конец */


/* Результаты поиска */

.search-result-title {
	padding-left: 40px;
	font-size: 20px;
	line-height: 30px;
	font-family: 'FontInterBold';
	padding-top: 50px;
	padding-bottom: 15px;
}

/* Левый блок */

.search-result-w {
	display: flex;
	justify-content: space-between;
}

.search-result-left {
	width: 400px;
	overflow: auto;
	box-shadow: var(--main-shadow);
	padding: 20px 25px;
	border-radius: 10px;
}

.search-result-left-w {
	background: #fff;
	border-radius: 10px;
}

/* Форма в левом блоке */

.direction-aside-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 45px
}

.aside-form-input-w {
	width: 100%;
	height: 62px;
	background-color: rgb(255,74,43);
	border-radius: 10px;
	margin-bottom: 20px;
}

.aside-form-input {
	display: block;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background-color: #fff;
	margin-left: 2px;
	margin-top: 2px;
	border: 0!important;
	outline: 0!important;
	border-radius: 8px;
	padding: 0 20px;
	font-size: 16px;
	color: rgb(103,103,103);
}

.aside-form-input-small {
	width: 47.5%;
}

.aside-form-input::-webkit-input-placeholder {color: rgb(103,103,103);font-size: 16px;}
.aside-form-input::-moz-placeholder          {color: rgb(103,103,103);font-size: 16px;}
.aside-form-input:-moz-placeholder           {color: rgb(103,103,103);font-size: 16px;}
.aside-form-input:-ms-input-placeholder      {color: rgb(103,103,103);font-size: 16px;}

.aside-form__btn {
	display: block;
    width: 100%;
    height: 62px;
    background: linear-gradient(45deg, rgba(255,75,43,1) 0%, rgba(255,75,43,1) 39%, rgba(255,65,108,1) 75%, rgba(255,65,108,1) 100%);
    border-radius: 10px;
    color: #fff;
    font-family: 'FontInterBold';
    border: 0!important;
    outline: 0!important;
    font-size: 18px;
    line-height: 100%;
    cursor: pointer;
}

.aside-checkbox {
	margin-bottom: 15px
}

.aside-checkbox:last-child {
	margin-bottom: 0
}

.aside-block {
	position: relative;
	padding-bottom: 50px
}

.aside-close {
	position: absolute;
	top: 5px;
	right: 0;
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
	text-decoration: underline;
	color: rgb(194,194,194);
	font-size: 12px;
	line-height: 12px;
	z-index: 2;
}

/* Форма в левом блоке, конец */

/* Левый блок, конец */

/* Правый блок */

.search-result-right {
	width: 790px;
}


/* Карточка отеля */

.search-item {
	display: flex;
	border-radius: 10px;
	padding: 10px 0 10px 10px;
	box-shadow: var(--main-shadow);
	margin-bottom: 20px;
}

.search-item-pic {
	width: 200px;
	height: 170px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 8px;
}

.search-item__content {
	width: 390px;
	padding: 0 10px;
}

.search-item__broninfo {
	width: calc(100% - 590px);
}

.search-item__title {
	font-size: 20px;
	line-height: 24px;
	font-family: 'FontInterSemiBold';
	color: rgb(5, 117, 229);
	text-decoration: underline;
	cursor: pointer;
}

.search-item__list {
	list-style-type: none;
}

.search-item__item {
	position: relative;
	display: inline-block;
	font-family: 'FontInterLight';
	font-size: 14px;
	line-height: 14px;
	padding: 0 5px 0 10px;
	margin-bottom: 5px;
}

.search-item__item:after {
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background-color: #333;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto
}

.search-item__rate {
	padding: 5px 0;
	display: flex;
	align-items: center;
}

.search-rate__list {
	list-style-type: none;
	display: flex;
	padding-right: 10px;
}

.search-rate__item {
	width: 15px;
	height: 15px;
	display: inline-flex;
	margin-right: 3px;
	background-repeat: no-repeat;
	background-size: cover;
}

.search-rate__item-yellow {
	background-image: url('star.svg');
}

.search-rate__item-grey {
	background-image: url('grey-star.svg');
}

.search-rate__reviews {
	font-family: 'FontInterLight';
	font-size: 14px;
	line-height: 15px;
	padding-right: 25px;
	color: rgb(146,146,146);
}

.search-rate__foodtype {
	font-family: 'FontInterBold';
	font-size: 14px;
	line-height: 15px;
	color: rgb(254,75,42)
}

.search-item__broninfo {
	border-left: 1px solid rgb(205,236,241);
}

.search-item__price {
	padding-top: 25px;
	text-align: center;
}

.search-item__price-from {
	font-size: 18px;
	line-height: 26px;
}

.search-item__price-number {
	font-size: 26px;
	line-height: 26px;
	font-family: 'FontInterBold';
}

.search-item__price-currency {
	font-size: 26px;
	line-height: 26px;
	font-family: 'FontInterBold';
}

.search-item__nights {
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	padding: 10px 0;
}

.search-item__bron {
	display: block;
	margin: 30px auto 0 auto;
	width: 140px;
	height: 38px;
	border-radius: 8px;
	background: rgb(4,127,220);
	border: 0!important;
	outline: 0!important;
	font-size: 16px;
	line-height: 38px;
	color: #fff;
	cursor: pointer;
}

.search-item__adress {
	position: relative;
	padding-left: 20px;
    font-family: 'FontInterLight';
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 0 20px;
    margin-bottom: 5px;
}

.search-item__adress:before {
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	width: 100%;
	height: 1px;
	background-color: rgb(204,247,228);
}

/* Карточка отеля, конец */

/* Правый блок, конец */

/* Результаты поиска, конец */


/* Одиночный отель */

.single-hotel {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 30px 0 40px 0
}

.hotel-adress {
	padding: 20px 0 25px 0;
	font-size: 16px;
	line-height: 24px;
	color: #4F4F4F;
	text-indent: 25px;
}

.title-block {
	width: calc(100% - 200px);
	padding-right: 20px;
}

.hotel-title {
    font-size: 22px;
    line-height: 26px;
}

.hotel-title-h2 {
	padding-bottom: 10px;
    font-size: 22px;
    line-height: 26px;
}

.hotel-rate-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 200px;
}

.hotel-rate__list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.hotel-rate__reviews {
	color: rgb(130,130,130);
	font-size: 16px;
	line-height: 16px;
}

.hotel-rate__item {
	width: 18px;
	height: 18px;
	margin-right: 3px;
	background-size: cover;
	background-repeat: no-repeat;
}

.hotel-rate__item-yellow {
	background-image: url('star.svg');
}

.hotel-rate__item-grey {
	background-image: url('grey-star.svg');
}

.hotel-rate__reviews {
	font-family: 'FontInterLight';
	font-size: 15px;
	line-height: 18px;
}

.add-to-favorite {
	display: block;
	width: 100%;
	height: 26px;
	text-align: right;
	padding-top: 20px
}

.add-to-favorite__link {
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	padding-left: 30px;
	text-decoration: underline;
	background-image: url('heart.svg');
	background-size: 26px;
	background-repeat: no-repeat;
	background-position: left center;
	color: rgb(255,97,68);
}

/* Слайдер отеля */

.map-slider {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hotel-slider {
	width: 820px;
}

.hotel-slider__main {
	width: 100%;
	height: 490px;
	border-radius: 10px;
	margin-bottom: 12px;
	background-color: #ccc;
}

.hotel-slider__items {
	overflow: hidden;
	height: 95px;
}

.hotel-slider__w {
	width: 10000px;
	display: flex;
}

.hotel-slider__item {
	width: 156px;
	height: 95px;
	margin-right: 10px;
	border-radius: 10px;
	position: relative;
	background-color: #ccc;
}

.hotel-slider__item.active {
	cursor: pointer;
}

.hotel-slider__item.active:after {
	content: '';
	display: block;
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 2px solid #FF2001;
	z-index: 3;
}

.hotel-map {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: calc(100% - 840px);
	box-shadow: var(--main-shadow);
	border-radius: 10px;
	background-color: #ccc;
}

.hotel-map__place {
	display: inline-block;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: var(--main-shadow);
	padding: 6px 10px;
	font-size: 16px;
	line-height: 16px;
}

.hotel-map__coordinates {
	position: relative;
	color: #2486E9;
	text-decoration: none;
}

.hotel-map__coordinates:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	background-color: #2486E9;
}

/* Слайдер отеля, конец */


/* форма поиска номеров */

.select-dates-content {
	display: flex;
	justify-content: space-between;
}

.select-dates-form-block {
	width: 820px;
}

.select-dates-form {
	width: 820px;
	display: flex;
	justify-content: space-between;
}

.select-dates-nav {
	width: calc(100% - 840px);
	margin-top: 45px
}

.select-dates-item {
	padding: 13px 0;
}

.select-dates-item:first-child {
	padding-top: 0;
}

.select-dates-item:last-child {
	padding-bottom: 0;
}

.select-dates-link {
	position: relative;
	display: block;
	padding-left: 30px;
	font-size: 24px;
	line-height: 30px;
	color: #0575E5;
	transition: .2s color;
	text-decoration: underline;
	font-family: 'FontInterLight';
}

.select-dates-link:hover {
	color: #FF4B2A;
	transition: .2s color;
}

.select-dates-link.active {
	color: #FF4B2A;
}

.select-dates-link:after {
	position: absolute;
	left: 0;
	top: 10px;
	content: '';
	display: block;
    border: solid #0575E5;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
	font-family: 'FontInterLight';
	transition: .2s border-color;
}

.select-dates-link:hover:after {
	border-color: #FF4B2A;
	transition: .2s border-color;
}

.select-dates-link.active:after {
	border-color: #FF4B2A;
}

.select-form-items {
    width: 100%;
}

.select-dates-form__form {
	width: calc(100% - 210px);
	height: 55px;
	background-image: var(--red-linear-gradient);
	border-radius: 10px;
}

.select-form-items {
	display: flex;
	margin: 3px;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	background: #fff;
	border-radius: 7px;
	overflow: hidden;
}

.select-form-input-w:first-child {
	width: 300px;
	border-right: 2px solid #FEA595;
}

.select-form-input-w:nth-child(2) {
	width: 88px;
	border-right: 2px solid #FEA595;
}

.select-form-input-w:nth-child(3) {
	width: 88px;
	border-right: 2px solid #FEA595;
}

.select-form-input-w:nth-child(4) {
	width: calc(100% - 476px);
}

.select-form-input {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 0!important;
    outline: 0!important;
    font-size: 16px;
    color: rgb(103,103,103);
	text-indent: 20px;
}

.select-form-in {
	text-align: center;
	text-indent: 0;
}

.select-form-out {
	text-align: center;
	text-indent: 0;
}

.select-form-guests {
	text-align: center;
	text-indent: 0;
}

.select-dates-form__btn {
    display: block;
    width: 200px;
    height: 55px;
    background: linear-gradient(45deg, rgba(255,75,43,1) 0%, rgba(255,75,43,1) 39%, rgba(255,65,108,1) 75%, rgba(255,65,108,1) 100%);
    border-radius: 10px;
    color: #fff;
    font-family: 'FontInterBold';
    border: 0!important;
    outline: 0!important;
    font-size: 16px;
    line-height: 100%;
    cursor: pointer;
}

/* форма поиска номеров, конец */

.select-results {
	padding-top: 30px;
}

.hotel-title-section {
	padding: 10px 0 0 0;
	margin-bottom: -20px;
}

.hotel-title-section p {
	margin-bottom: 25px;
}

/* Подраздел Номера */

.result-rooms__item {
    border-radius: 10px;
    padding: 10px 0 10px 10px;
    box-shadow: var(--main-shadow);
    margin-bottom: 20px;
}

.result-rooms__item::after {
	content: "";
	clear: both;
	display: table;
  }

.result-rooms__item-pic {
	position: relative;
	float: left;
	margin-right: 20px;
	width: 285px;
	height: 205px;
	border-radius: 10px;
	background-color: #ccc;
}

.result-rooms__title {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
    font-size: 18px;
    line-height: 22px;
    font-family: 'FontInterSemiBold';
    color: rgb(5, 117, 229);
    text-decoration: none;
    cursor: pointer;
}

.result-rooms__item p {
    font-size: 16px;
	line-height: 24px;
}

.result-rooms-details {
	position: absolute;
	right: 5px;
	bottom: 5px;
	display: inline-block;
	padding: 5px 10px;
	background-color: #fff;
	border-radius: 6px;
	text-align: center;
}

.result-rooms-details__dop {
	padding-bottom: 3px;
    font-size: 12px;
    line-height: 12px;
	font-family: 'FontInterLight';
}

.result-rooms-details .result-rooms-details__nights {
	font-size: 12px;
    line-height: 12px;
	font-family: 'FontInterLight';
}

.result-rooms-details__num {
	color: #DB5A3D;
	font-size: 30px;
	line-height: 30px;
	font-family: 'FontInterBold';
}

.result-rooms-details span {
    font-size: 16px;
	line-height: 20px;
}

/* Подраздел Номера, конец */

/* Карточка номера из подобранных в поиске */

.select-results__item {
    display: flex;
	flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px 0 10px 10px;
    box-shadow: var(--main-shadow);
    margin-bottom: 20px;
}

.select-results__item:last-child {
	margin-bottom: 0
}

.select-results__item-pic {
	width: 180px;
	height: 130px;
	border-radius: 10px;
	background-color: #ccc;
}

.select-results__item-content {
	width: 450px;
	padding-left: 20px;
	padding-right: 20px;
}

.select-item-title {
	font-size: 18px;
    line-height: 22px;
    font-family: 'FontInterSemiBold';
    color: rgb(5, 117, 229);
    text-decoration: underline;
    cursor: pointer;
}

.select-item-info {
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px
}

.select-item__block {
	padding: 3px 0;
}

.select-item__in {
	width: 50%;
}

.select-item__adults {
	width: 50%;
}

.select-item__out {
	width: 50%;
}

.select-item__children {
	width: 50%;
}

.select-item__text {
	font-size: 16px;
    line-height: 20px;
    font-family: 'FontInterSemiBold';
}

.select-item__value {
	font-size: 16px;
    line-height: 20px;
}

.select-results-price-info {
	display: flex;
	justify-content: center;
}

.select-results-price-info span {
	font-size: 14px;
    line-height: 14px;
}

.select-results-price {
	font-family: 'FontInterBold';
}

.select-results-currency {
	font-family: 'FontInterBold';
}

.select-results-from span {
	font-size: 16px;
    line-height: 16px;
}

.select-results__item-price {
	text-align: center;
	width: 170px;
	padding-top: 5px;
}

.select-results-from .select-from-currency {
	font-size: 22px;
    line-height: 22px;
	color: #FE4B2B;
	font-family: 'FontInterBold';
}

.select-results-from .select-from-value {
	font-size: 22px;
    line-height: 22px;
    font-family: 'FontInterBold';
	color: #FE4B2B;
}

.select-results-from-info {
	padding-bottom: 15px;
}

.select-results-from-info span {
	font-size: 14px;
    line-height: 14px;
}

.select-results__item-text {
	padding-top: 20px;
	font-size: 16px;
	line-height: 24px;
}

.select-results-bron {
	width: 140px;
	height: 38px;
	margin: 0 auto;
	display: block;
	background-color: #00EC64;
	color: #fff;
	text-align: center;
	border-radius: 8px;
	font-family: 'FontInterBold';
    border: 0!important;
    outline: 0!important;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;
}

/* Карточка номера из подобранных в поиске, конец */

/* Одиночный отель, конец */


/* Страница оплаты */

.pay-content {
	display: flex;
	justify-content: space-between;
	padding-top: 100px
}

.pay-left {
	width: 400px;
}

.pay-right {
	width: 800px;
}

.single-block-title {
	color: rgb(51, 51, 51);
	font-family: 'FontInterBold';
    font-size: 22px;
    line-height: 30px;
    text-decoration: none;
    margin-right: 30px;
	margin-bottom: 25px;
}

.left-block-bedroom {
	background-image: url('left-nav.svg');
	background-size: 25px;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 38px;
}

/* Блок навигации */

.left-nav-block {
	padding: 15px;
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
	border-radius: 10px;
	margin-bottom: 40px
}

.left-nav-list {
	list-style-type: none;
}

.left-nav-item {
	padding-bottom:5px
}

.left-nav-item:last-child {
	padding-bottom:0
}

.left-nav-link {
	font-size: 15px;
	line-height: 30px;
	text-decoration: underline;
}

.left-nav-list__sub {
	list-style-type: disc;
	padding-left: 25px
}

/* Блок навигации, конец */


/* Блок Супер цены */

.super-prices-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 10px
}

.super-prices-item:last-child {
	padding-bottom: 0
}

.super-prices-item__link {
	color: #2486E9;
	font-size: 16px;
	line-height: 20px;
}

.super-prices-item__dotted {
	height: 20px;
	content: '';
	display: block;
	flex: 1 1;
	background-image: url('');
}

.super-prices-item__number {
	color: #828282;
	font-size: 16px;
	line-height: 20px;
}

.super-prices-item__number span {
	color: #828282;
	font-size: 16px;
	line-height: 20px;
}

/* Блок Супер цены, конец */

/* Оплата - контент страницы */

.pay-page-content {

}

.law-info {
	padding-top: 50px
}

.pay-page-content__text {
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 30px
}

.pay-page-content__text-bold {
	font-family: 'FontInterBold';
}

.pay-icons {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
}

.pay-card-list {
	list-style-type: disc;
	padding-left: 20px;
	margin-bottom: 30px
}

.pay-card-item {
	color: #0574E7;
    font-size: 15px;
    line-height: 24px;
}

/* Оплата - контент страницы, конец */


/* Популярные отели России (блок посередине страницы) */

.between-populars-items {
	width: 620px;
	margin: 80px auto;
}

/* Популярные отели России (блок посередине страницы), конец */


/* Форма подписки среди контента на странице */

.content-subscribe {
	max-width: 620px;
	padding: 25px 18px;
	margin: 80px auto;
    -webkit-box-shadow: var(--main-shadow);
    -moz-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
	border-radius: 10px;
}

.content-subscribe-section {
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
	padding: 30px 35px;
	border-radius: 10px;
	-webkit-box-shadow: var(--main-shadow);
	-moz-box-shadow: var(--main-shadow);
	box-shadow: var(--main-shadow);
}

.content-subscribe-form-w {
	width: calc(50% - 10px);
}

.content-subscribe-social {
	width: calc(50% - 10px);
}

.content-subscribe-form {
	width: 100%;
	height: 60px;
	position: relative;
	background: rgb(49,140,216);
	border-radius: 10px;
}

.content-subscribe-form-inside {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 4px);
	height: 56px;
	padding: 4px 4px 4px 15px;
	background: #fff;
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
	margin: auto;
	border-radius: 8px;
}

.get-content-subscribe {
	display: block;
	width: calc(100% - 200px);

	border: 0!important;
	outline: 0!important;
	background: #fff;
	color: rgb(103,103,103);
	font-size: 16px;
	line-height: 20px;
}

.get-content-suscribe-btn {
	width: 180px;
	height: 100%;
	display: flex;
	align-items: center;
}

.get-content-suscribe__submit {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 0!important;
	outline: 0!important;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	font-family: 'FontInterBold';
	cursor: pointer;
	background: rgb(2,196,144);
}

.get-content-subscribe::-webkit-input-placeholder {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-content-subscribe::-moz-placeholder          {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-content-subscribe:-moz-placeholder           {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}
.get-content-subscribe:-ms-input-placeholder      {color: rgb(103,103,103);	font-size: 18px;line-height: 18px;}

.content-subscribe-social-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
}

.content-s-w {
	padding-bottom: 30px
}

.content-subscribe-socials {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.content-social-tg-rus {
	display: block;
	width: 45%;
	height: 32px;
	margin-bottom: 22px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	color: rgb(67,151,237);
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('telegram.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

.content-social-tg-pdmsk {
	display: block;
	width: 55%;
	height: 32px;
	margin-bottom: 22px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	color: rgb(67,151,237);
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('telegram.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

.content-social-vk {
	display: block;
	width: 100%;
	height: 32px;
	padding-left: 40px;
	font-size: 18px;
	line-height: 30px;
	color: rgb(67,151,237);
	font-family: 'FontInter';
	text-decoration: underline;
	background-image: url('vk.svg');
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
}

.content-copyright {
	font-size: 12px;
	line-height: 24px;
}

/* Форма подписки среди контента на странице, конец */


/* Страница оплаты, конец */